<div class="container">
    <div class="logo row">
        <!-- <img src="/public/images/logopng.png"> -->
        <div class="text">
            The<span>Quiz</span>Game            
        </div>
    </div>
</div>
<div class="container auth">
    <ul class="nav nav-justified">
        <li role="auth" class="active"><a data-toggle="tab" href="#signin-tab">Signin</a></li>
        <li id="or">Or</li>
        <li role="auth"><a data-toggle="tab" href="#signup-tab">Signup</a></li>
    </ul>
    <div class="tab-content">
        <div id="signin-tab" class="tab-pane fade in active">
            <form class="form-horizontal" method="post" action="/auth/signin">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <label for="email" class="control-label ">Email</label>                        
                        </div>                       
                        <div class="col-lg-8 col-lg-offset-2">
                            <input class="form-control" id="email" name="email" type="text" value="{{userdata.siemail}}">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-lg-8 col-lg-offset-2">
                            <label for="password" class="control-label">Password</label>
                        </div>                           
                        <div class="col-lg-8 col-lg-offset-2">
                            <input class="form-control" id="password" name="password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 btndiv">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </fieldset>
            </form>            
        </div>
        <div id="signup-tab" class="tab-pane fade">
            <form class="form-horizontal" method="post" action="/auth/signup">
                <fieldset>
                    <div class="col-lg-12 inner_form_wrapper">
                        <div class="left_column col-lg-6">
                            <div class="form-group">
                                <label for="name" class="control-label ">Name</label>
                                <input class="form-control" id="name" name="name" type="text" value="{{userdata.name}}">                                
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input class="form-control" id="email" name="email" type="text" value="{{userdata.suemail}}">                                   
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>                                
                                <input class="form-control" id="password" name="password" type="password">                                
                            </div>
                        </div>
                        <div class="right_column col-lg-6">
                            <div class="form-group">
                                <label for="username" class=" control-label">Username</label>
                                <input class="form-control" id="username" name="username" type="text" value="{{userdata.username}}">
                            </div>
                            <div class="form-group">
                                <label for="confirmemail" class="control-label">Confirm email</label>
                                <input class="form-control" id="confirmemail" name="confirmemail" type="text" value="{{userdata.confirmemail}}">
                            </div>
                            <div class="form-group">
                                <label for="confirmpassword" class="control-label">Confirm password</label>
                                <input class="form-control" id="confirmpassword" name="confirmpassword" type="password">
                            </div>
                        </div>  
                    </div>
                                                                                                
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label for="country_selector" class="control-label">Country</label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control" type="text" id="country_selector" name="country_selector">                    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 btndiv">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>   
</div>

<div class="container messages">
    {{>flashmessages}}
</div>
